In [3]:
from dataclasses import dataclass

In [4]:
@dataclass
class Triangle :
    s1 : int|float
    s2 : int|float
    s3 : int|float

    def is_triangle(self):
        if (self.s1 + self.s2 > self.s3) and (self.s2 + self.s3 > self.s1) and (self.s1 + self.s3 > self.s2):
            return True
        
        else:
            return(f"Triangle is not formed")
        
    def perimeter(self):
        if self.is_triangle == True:
            p = self.s1 + self.s2 + self.s3
            return p


    def Area(self):
        if self.perimeter() is not None:
            s = self.perimete()/2
            area = (s*(s-self.s1)*(s-self.s2)*(s-self.s3))**1/2
            return area

In [5]:
T1 = Triangle(23,45,56)

In [6]:
T1.is_triangle()

True

In [7]:
T1.perimeter()

In [8]:
T1.Area()

In [9]:
T2 = Triangle(13,16,2)

In [10]:
T2.is_triangle()

'Triangle is not formed'

In [11]:
print(T2.perimeter())

None

In [12]:
T2.Area()

In [13]:
T1 = Triangle(23,45,56)
T2 = Triangle(2,3,4)
T3 = Triangle(13,16,2)

In [19]:
for i in[T1,T2,T3]:
    print(i,i.is_triangle())
    print('perimeter',i.perimeter())
    print('Area',i.Area())
    print('-------------------------')

Triangle(s1=23, s2=45, s3=56) True
perimeter None
Area None
-------------------------
Triangle(s1=2, s2=3, s3=4) True
perimeter None
Area None
-------------------------
Triangle(s1=13, s2=16, s3=2) Triangle is not formed
perimeter None
Area None
-------------------------

In [35]:
# Create class for creating simple calculator , add, substraction, multiplication, division


@dataclass
class Calculator:
    x : int|float
    y : int|float

    def addition(self):
        if isinstance(self.x, (int , float)) and isinstance(self.y,(int, float)):
            return self.x + self.y
        
    def subtraction(self):
        if isinstance(self.x , (int, float)) and isinstance(self.y, (int,float)):
            return self.x - self.y
        
    def product(self):
        if self.addition() is not None:
            return self.x*self.y
        
    def division(self):
        if self.y != 0:
            return self.x/self.y
        else:
            raise ZeroDivisionError('denominator should not zero')

In [40]:
o1 = Calculator(12,0)

In [41]:
o1.addition()
o1.product()
o1.subtraction()
o1.division()

ZeroDivisionError: denominator should not zero

In [ ]:
# inheritance

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def introduce(self):
        return(f'My name is {self.name} And i am {self.age} years old')
    
class employee(Person):
    def __init__(self, name, age, company):
        super().__init__(name,age)
        self.company = company

In [2]:
p1 = Person(name = 'Rutik', age = 25)

In [3]:
p1.name

'Rutik'

In [4]:
p1.age

25

In [5]:
p1.introduce()

'My name is Rutik And i am 25 years old'

In [6]:
p2 = Person(name = 'Akhil', age = 25)

In [7]:
p2.introduce()

'My name is Akhil And i am 25 years old'

In [8]:
e1 = employee(name = 'Ashish', age = 25, company = 'TCS')

In [9]:
print(e1.name)
print(e1.age)
print(e1.company)
print(e1.introduce())

Ashish
25
TCS
My name is Ashish And i am 25 years old

In [16]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def introduce(self):
        return(f'My name is {self.name} And i am {self.age} years old')
    
class employee(Person):
    def __init__(self, name, age, company):
        super().__init__(name,age)
        self.company = company
    
    def work(self):
        print(super().introduce())
        return f'I work for {self.company}'

In [17]:
e2 = employee(name = 'Ameya', age = 29, company = 'Gallagher')

In [18]:
e2.work()

My name is Ameya And i am 29 years old

'I work for Gallagher'

In [21]:
e2.introduce()

'My name is Ameya And i am 29 years old'

In [ ]:
#Multilevel inheritance

In [37]:
class Employee:
    def __init__(self, name, id):
        self.name = name
        self.id = id

    def get_employee_info(self):
        print(f'Name:{self.name}, Id :{self.id}')

    #child class manager
class Manager(Employee):
    def __init__(self, name, id, department):
        super().__init__(name, id)
        self.department = department

    def get_manager_info(self):
        return(f'{super().get_employee_info()}, department : {self.department}')
    
    #Grand Child class
class Project_Manager(Manager):
    def __init__(self, name, id, department, project):
        super().__init__(name, id, department)
        self.project = project

    def get_project_Manager_info(self):
        return(f'{super().get_Manager_info()}, project :{self.project}')

In [38]:
E1 = Employee(name = 'Mahesh', id = 123)

In [39]:
E1.name

'Mahesh'

In [40]:
E1.id

123

In [41]:
M1 = Manager(name = 'Rk', id = 456, department = 'CEO')

In [42]:
M1.get_employee_info()

Name:Rk, Id :456

In [43]:
M1.get_manager_info()

Name:Rk, Id :456

'None, department : CEO'

In [48]:
PM = Project_Manager(name = 'Chuch', id = 789, department = 'Dd', project = 'interior')

In [50]:
PM.project

'interior'

In [52]:
PM.get_employee_info()

Name:Chuch, Id :789