In [1]:
import time

In [2]:
time.sleep(2)
print('Hello')

Hello

In [3]:
%%time
time.sleep(2)
print('hello')

hello
CPU times: total: 15.6 ms
Wall time: 2 s

In [4]:
n = 10
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [5]:
%%time
time.sleep(2)
print('hello')
time.sleep(3)
print('swara')

hello
swara
CPU times: total: 0 ns
Wall time: 5 s

# Create function for hypotenus

In [7]:
import numpy as np

In [16]:
def hypotenus(a: int|float, b: int|float):
    print('hypotenus function is started')
    time.sleep(2)
    h = np.sqrt(a**2+b**2)
    print(f'Hypotenus of triangle{h}')
    print('hypotenus function executed')

In [17]:
hypotenus(a = 3, b = 2)

hypotenus function is started
Hypotenus of triangle3.605551275463989
hypotenus function executed

In [18]:
%%time
hypotenus(a = 5, b = 3)

hypotenus function is started
Hypotenus of triangle5.830951894845301
hypotenus function executed
CPU times: total: 15.6 ms
Wall time: 2 s

In [19]:
%%time
hypotenus(a = 12, b = 14)
hypotenus(a = 4, b = 6)

hypotenus function is started
Hypotenus of triangle18.439088914585774
hypotenus function executed
hypotenus function is started
Hypotenus of triangle7.211102550927978
hypotenus function executed
CPU times: total: 15.6 ms
Wall time: 4 s

# Create function for simple interest

In [20]:
def simple_interest(p = int|float, n = int|float, r = int|float):
    """
    p : principal amount
    n : no of years
    r : rate of interest

    """
    print('simple interest function is started')
    time.sleep(3)
    i = p*n*r/100
    a = p + i
    print(f'simple interest {i} amount to be return{a}')
    print('simple interest is completed')

In [21]:
%%time
simple_interest(p = 200000, n = 2, r = 5.5)

simple interest function is started
simple interest 22000.0 amount to be return222000.0
simple interest is completed
CPU times: total: 0 ns
Wall time: 3 s

In [23]:
%%time
hypotenus(a = 34, b = 45)
simple_interest(p = 300000, n = 2, r = 4.5)

hypotenus function is started
Hypotenus of triangle56.4003546088143
hypotenus function executed
simple interest function is started
simple interest 27000.0 amount to be return327000.0
simple interest is completed
CPU times: total: 15.6 ms
Wall time: 5 s

In [25]:
from threading import Thread

In [28]:
%%time
th1 = Thread(target = hypotenus, args = (23, 34))
th2 = Thread(target = simple_interest,args = (200000, 2, 3.5))
#start the treades
th1.start()
th2.start()

#join the thrades
th1.join()
th2.join()

hypotenus function is started
simple interest function is started
Hypotenus of triangle41.048751503547585
hypotenus function executed
simple interest 14000.0 amount to be return214000.0
simple interest is completed
CPU times: total: 46.9 ms
Wall time: 3.03 s