In [1]:
s = 'swara'
print(type(s))

<class 'str'>

In [2]:
i = 23
print(type(i))

<class 'int'>

In [3]:
f = 2.3
print(type(f))

<class 'float'>

In [6]:
d = {'name':['seeta', 'geeta', 'neeta','sunita'],
'age' : [23,24,25,26]}
print(type(d))

<class 'dict'>

In [7]:
import pandas as pd

In [9]:
df = pd.DataFrame(d)

In [10]:
df

     name  age
0   seeta   23
1   geeta   24
2   neeta   25
3  sunita   26

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# Attributes
dtypes
values
size
shape
column
index

In [13]:
df.size

8

In [14]:
df.shape

(4, 2)

In [15]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
df.columns

Index(['name', 'age'], dtype='object')

In [17]:
df.dtypes

name    object
age      int64
dtype: object

In [18]:
df.values

array([['seeta', 23],
       ['geeta', 24],
       ['neeta', 25],
       ['sunita', 26]], dtype=object)

In [ ]:
#Function
isnull()
sum()
info()

In [19]:
df.isnull().sum()

name    0
age     0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [ ]:
# Create Class

In [21]:
class person:

    #instance method
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

In [23]:
o1 = person('Prajakta', 28, 'female', 'data analyst')

In [24]:
o1

In [25]:
o1.name

'Prajakta'

In [26]:
o1.age

28

In [27]:
o1.gender

'female'

In [28]:
o1.occupation

'data analyst'

In [29]:
o2 = person(name ='Prajakta', gender = 'female', occupation = 'data analyst', age = 25)

In [30]:
o2.name

'Prajakta'

In [31]:
o2.age

25

In [32]:
o3 = person(name = 'akanksha', age = 17, gender = 'female', occupation = None,)

In [33]:
o3.name

'akanksha'

In [34]:
o3.occupation

In [35]:
o3 = person(name = 'akanksha', age = 17, gender = 'female',)

TypeError: person.__init__() missing 1 required positional argument: 'occupation'

In [3]:
# address
o4 = person (name = 'umesh', age = 25, gender = 'male', occupation = 'business')

In [4]:

o4.occupation

'business'

In [5]:
o4.address = 'Vadgaon'

In [6]:
o4.address

'Vadgaon'

In [7]:
class person:

    #instance method
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation
        
         #add functionality talk
    def talk(self):
        print(f'i am {self.name}')
        print(f'my age is {self.age}')
        print(f'i am{self.gender}')
        print(f'i work as {self.occupation}')

In [8]:
o4.talk()

i am umesh
my age is 25
i ammale
i work as business

In [9]:
# name, age, gender, occupation = instance variables
class Employee:
    company = 'TCS'
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [13]:
e1 = Employee(name = 'Rutik', age = 25)
e2 = Employee(name = 'Akhil', age = 25)
e1
e2

In [11]:
e1.company

'TCS'

In [14]:
e1.age

25

In [15]:
e2.company

'TCS'

In [17]:
e2.name

'Akhil'

In [18]:
e2.age

25

In [4]:
#Data Class
from dataclasses import dataclass

In [5]:
from typing import Literal, List

In [6]:
#Student = name, gender, marks, hobbies

In [7]:
@dataclass
class Student:
    name : str
    gender : str
    marks : float
    hobbies : List[str]

    def get_info(self):
        print(f'I am {self.name}')
        print(f'I am a{self.gender}')
        print(f'Marks i got{self.marks}')
        print(f'My hobbies are {self.hobbies}')

In [8]:
s1 = Student(name = "Rutik", gender = 'male', marks = 90.78, hobbies = ['playing', 'reading', 'gaming'])

In [9]:
s1.name

'Rutik'

In [10]:
s1.hobbies

['playing', 'reading', 'gaming']

In [11]:
s1.gender

'male'

In [12]:
s1.marks

90.78

In [13]:
s1.hobbies

['playing', 'reading', 'gaming']

# Create Class for bank Transaction
- Check Balance
- Deposit
- Withdraw
- transfer

In [104]:
@dataclass
class Account:
    acc_name : str
    acc_no : int
    acc_balance : float

    def check_balance(self):
        print(f'Current Balance your A/c no {self.acc_no} is {self.acc_balance}')

    def deposit(self, amt : int):
        self.acc_balance = self.acc_balance + amt
        print(f'Amount of {amt} is deposited in {self.acc_no}')
        self.check_balance()

    def withdraw(self, amt : int|float):
        if self.acc_balance < amt:
            raise ValueError('insufficient balance')
        else:
            self.acc_balance = self.acc_balance - amt
            print(f'{amt} is deducted from your A/c no {self.acc_no}')
            self.check_balance()

    def transfer(self, amt :int|float, ac = 'Account'):
        self.withdraw(amt)
        ac.deposit(amt)

In [105]:
ac1 =Account ('Rutik', 12345, 2000.58)

In [106]:
ac1.acc_name

'Rutik'

In [107]:
ac1.acc_no

12345

In [108]:
ac1.acc_balance

2000.58

In [109]:
ac1.check_balance()

Current Balance your A/c no 12345 is 2000.58

In [110]:
ac1.deposit(25000)

Amount of 25000 is deposited in 12345
Current Balance your A/c no 12345 is 27000.58

In [111]:
ac1.withdraw(500)

500 is deducted from your A/c no 12345
Current Balance your A/c no 12345 is 26500.58

In [112]:
ac1.withdraw(4000)

4000 is deducted from your A/c no 12345
Current Balance your A/c no 12345 is 22500.58

In [113]:
ac2 = Account(acc_name = 'Akhil', acc_no = 45678, acc_balance = 0)

In [114]:
ac2
ac2.check_balance()

Current Balance your A/c no 45678 is 0

In [115]:
ac2.deposit(2000)

Amount of 2000 is deposited in 45678
Current Balance your A/c no 45678 is 2000

In [116]:
ac2.check_balance()

Current Balance your A/c no 45678 is 2000

In [117]:
ac2.withdraw(1000)

1000 is deducted from your A/c no 45678
Current Balance your A/c no 45678 is 1000

In [118]:
ac2.transfer(300 ,ac = ac1 )

300 is deducted from your A/c no 45678
Current Balance your A/c no 45678 is 700
Amount of 300 is deposited in 12345
Current Balance your A/c no 12345 is 22800.58